@model DoctorConsultationViewModel

@{
    ViewData["Title"] = "Consultation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <main>
        <partial name="_Header" />

        <h2>Consultation with (Dr.)@Model.Doctor.Name</h2>

        <p>
            <b>Nome do Paciente:</b>
            @Model.Appointments.Single(a => a.Id == Model.SelectedAppointmentId).PatientName
        </p>

        <p>
            <b>Preço:</b>
            @Model.Appointments.Single(a => a.Id == Model.SelectedAppointmentId).FeesPaid €
        </p>

        <div class="form-group mb-3">
            <label><b>Mensagem do Paciente:</b></label>
            <textarea asp-for="@Model.Appointments.Single(a => a.Id == Model.SelectedAppointmentId).PatientMessage" class="form-control" readonly rows="4"></textarea>
        </div>


        @if (!Model.Appointments.Single(a => a.Id == Model.SelectedAppointmentId).IsDone)
        {
            @if (Model.AttachmentData != null)
            {
                <div class="mt-3">
                    <p><b>Attachment:</b></p>
                    <a asp-controller="Patient" asp-action="DownloadAttachment" asp-route-appointmentId="@Model.SelectedAppointmentId" class="btn btn-primary">Download Attachment</a>
                </div>
            }
            else
            {
                <p><b>Attachment:</b> Nenhum</p>
            }
        }
        <form asp-asp-controller="Doctor" asp-action="UpdateDoctorMessage" method="post" enctype="multipart/form-data">
            <input hidden name="appointmentId" value="@Model.SelectedAppointmentId" />
            <input hidden name="Email" value="@Model.Doctor.Email" />
            <div class="form-group mb-3">
                <p><b>Resposta do Médico:</b></p>
                <textarea asp-for="Appointments.Single(a => a.Id == Model.SelectedAppointmentId).DoctorMessage" class="form-control" placeholder="Mensagem do Médico" rows="4" readonly="@(Model.Appointments.Single(a => a.Id == Model.SelectedAppointmentId).IsDone)"></textarea>

            </div>
            <button type="submit" class="mt-3 btn btn-primary" @(Model.Appointments.Single(a => a.Id == Model.SelectedAppointmentId).IsDone ? "disabled" : "")>Enviar Resposta</button>
        </form>
        <form asp-asp-controller="Doctor" asp-action="CloseAppointment" method="post" enctype="multipart/form-data">
            <input hidden name="appointmentId" value="@Model.SelectedAppointmentId" />

            @if (!Model.Appointments.Single(a => a.Id == Model.SelectedAppointmentId).IsDone)
            {
                <button type="submit" class="btn btn-danger">Fechar</button>
            }
        </form>

        <a asp-controller="Doctor" asp-action="DoctorDashboard" class="btn btn-secondary">Voltar</a>
    </main>

    <partial name="_Footer" />
</div>
