@model PatientConsultationViewModel


@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section CustomCSS{
    <link href="~/doctor/dashboard.css" rel="stylesheet" />
}

<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
<link rel="stylesheet" href="~/eConsultasMVC.styles.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/starter-template.css" asp-append-version="true" />


<partial name="_HeaderPatient" />

<div class="container">
    <main>

        <h2>Bem vindo @Model.Patient.Name</h2>

        <h4>Your Appointments:</h4>
        @if (Model != null)
        {
            <table class="table">
                <thead>
                    <tr>
                        <th>Status</th>
                        <th>Date</th>
                        <th>Doctor Name</th>
                        <th>Fees Paid</th>
                        <th>Your Message</th>
                        <th>Doctor Message</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var appointmentViewModel in Model.Appointments)
                    {
                        <tr>
                            <td>
                                @if (appointmentViewModel.IsDone)
                                {
                                    <span class="badge badge-warning">&#10004;</span>
                                }
                                else
                                {
                                    <span class="badge badge-warning">Em Aberto</span>
                                }
                            </td>
                            <td>@appointmentViewModel.Date</td>
                            <td>@appointmentViewModel.DoctorName</td>
                            <td>@appointmentViewModel.FeesPaid</td>
                            <td>@appointmentViewModel.PatientMessage</td>
                            <td>@appointmentViewModel.DoctorMessage</td>
                            <td>
                                @if (!appointmentViewModel.IsDone)
                                {
                                    <a asp-controller="Patient" asp-action="PatientConsultation" asp-route-appointmentId="@appointmentViewModel.Id" asp-route-userEmail="@Model.Patient.Email" class="btn btn-primary">Consultar</a>
                                    <form asp-asp-controller="Doctor" asp-action="CloseAppointment" method="post" enctype="multipart/form-data">
                                        <input hidden name="appointmentId" value="@appointmentViewModel.Id" />
                                    </form>

                                }
                                else
                                {
                                    <a asp-controller="Patient" asp-action="PatientConsultation" asp-route-appointmentId="@appointmentViewModel.Id" asp-route-userEmail="@Model.Patient.Email" class="btn btn-primary">Consultar</a>
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
        else
        {
            <p>You don't have any appointments yet.</p>
        }
    </main>
</div>
<partial name="_Footer" />

@section CustomJS{
    <script src="https://cdn.jsdelivr.net/npm/feather-icons@4.28.0/dist/feather.min.js" integrity="sha384-uO3SXW5IuS1ZpFPKugNNWqTZRRglnUJK6UAZ/gxOX80nxEkN9NcGZTftn6RzhGWE" crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js" integrity="sha384-zNy6FEbO50N+Cg5wap8IKA4M/ZnLJgzc6w2NqACZaK0u0FXfOWRRJOnQtpZun8ha" crossorigin="anonymous"></script>

    <script src="~/doctor/dashboard.js"></script>
}
