@{
    ViewData["Title"] = "Consultation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model UI.Models.PatientAreaModel

<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
<link rel="stylesheet" href="~/eConsultasMVC.styles.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/starter-template.css" asp-append-version="true" />

<div class="container">
    <main>

        <partial name="_HeaderPatient" />

        <form asp-controller="Patient" asp-action="SearchDoctors" method="post">
            <label asp-for="SelectSpecialization">Specialization:</label>
            <select asp-for="SelectSpecialization" asp-items="new SelectList(Model.Specializations)">
                <option value="">Select</option>
            </select>

            <button type="submit" class="btn btn-primary">Search</button>
        </form>



        @if (Model.Doctors.Count == 0)
        {
            <p>No matching doctors found.</p>
        }
        else
        {
            <h3>Search Results</h3>
            <div class="table-responsive">
                <table class="table table-striped table-sm">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Dr. Name</th>
                            <th scope="col">Phone</th>
                            <th scope="col">Fees</th>
                            <th scope="col">Clinic</th>
                            <th scope="col">Consultation</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var doctor in Model.Doctors)
                        {
                            <tr>
                                <td></td>
                                <td>@doctor.Name (<small class="text-muted">@doctor.SpecializationDescription</small>)</td>
                                <td>@doctor.Phone</td>
                                <td>Rs. @doctor.Price (<small class="text-muted">@doctor.PriceDescription</small>)</td>
                                <td>@doctor.Address</td>
                                <td>
                                    <form asp-asp-controller="Patient" asp-action="MakePay" method="post" enctype="multipart/form-data">
                                        <input hidden name="doctorId" value="@doctor.UserId" />


                                        <button type="submit" class="btn btn-danger">Pay Fees and Consult</button>

                                    </form>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        }
    </main>
    <partial name="_Footer" />
</div>



